
h1 {
  font-family: RM Albion Regular, arial;
  margin-left: 100px;
  text-align: center;
  border-bottom: medium solid black;
  border-top: thin solid WhiteSmoke;
  padding-bottom: 15px;
}

.articleList{
  margin-left: 150px;
}

#containar{
  display: none;
}
.sectionsButton{
  position:relative;
  top: 16px;
  border-radius: 5px;
  margin-left: 35px;
  border: 1px solid WhiteSmoke;
  background-color: white;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
  height: 30px;
}

.sectionsButton:hover{
  background-color: WhiteSmoke;
}
.sections{
  list-style-type: none;
  border: 1px solid black;
  font-weight: bold;
  height: auto;
  background-color: white;
  position: absolute;
  padding-left: 7px;
}
.category:hover{
  background-color: WhiteSmoke;
}

.date{
  position: relative;
  top: 109px;
  left: 200px;
}

.title {
  list-style-type: none;
  border: .5px solid lightgrey;
  padding: 10px;
  color: black;
  font-family: arial;
  max-width: 850px;
}

a{text-decoration: none;}

.description{
  list-style-type: none;
  color: grey;
  margin-top: 5px;
  padding-right: 0;
}

li{
  padding:0;
}

.articles{
  margin-right: 50px;
}
.link{
color: white;
}
.author {
  color: white;
  margin-top: 10px;
}
.redirect, .loadMore{
  background-color: blue;
  color: white;
  font-family: arial;
  border-radius: 5px;
  height: 50px;
  margin-left: 80px;
}
.loadMore{width: 1000px;}

.redirect{
  position: relative;
  top:0;
  width: 100%;
  margin-top: 10px;
}
